#wrapper2 { 
	width: 640px; 
	margin: 0 auto; 
	padding: 30px 45px; 
}

#inline { display: none; width: 600px; }

#send:hover {
	background: #183d80; 
	background: -webkit-gradient(linear, left top, left bottom, from(#284f9d), to(#0c2b6b)); 
	background: -moz-linear-gradient(top,  #284f9d, #0c2b6b); 
	background: -webkit-linear-gradient(top, #284f9d, #0c2b6b);
	background: -o-linear-gradient(top, #284f9d, #0c2b6b);
	background: -ms-linear-gradient(top, #284f9d, #0c2b6b);
	background: linear-gradient(top, #284f9d, #0c2b6b);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#284f9d', endColorstr='#0c2b6b');
}

#send:active {
	color: #8c9dc0; 
	background: -webkit-gradient(linear, left top, left bottom, from(#0e387d), to(#2f55b7)); 
	background: -moz-linear-gradient(top,  #0e387d,  #2f55b7);
	background: -webkit-linear-gradient(top, #0e387d, #2f55b7);
	background: -o-linear-gradient(top, #0e387d, #2f55b7);
	background: -ms-linear-gradient(top, #0e387d, #2f55b7);
	background: linear-gradient(top, #0e387d, #2f55b7);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0e387d', endColorstr='#2f55b7');
}